installInteractive=no
installMode=fresh
installType=FreeBSD
hostname=freebsd
#installMedium=dvd
packageType=split_9
ftpPath=ftp://192.168.0.2/pub/FreeBSD/releases/amd64/9.0-RELEASE/
installMedium=ftp
netSaveDev=AUTO-DHCP

# Timezone
timeZone=America/New_York
enableNTP=yes

# Keyboard Layout Options
localizeKeyModel=pc104
localizeKeyLayout=us U.S.

# Disk Setup for ada0
disk0=ada0
partition=ALL
bootManager=bsd
partscheme=GPT
commitDiskPart

# Setup the disk label
# All sizes are expressed in MB
disk0-part=ZFS 0 /,/usr,/var
commitDiskLabel

# List our components to install
# Src is only needed for the virtualbox extensions
# installComponents=ports,src
installComponents=ports,src

# Set the root pass
rootPass=vagrant

userName=vagrant
userComment=vagrant user
userPass=vagrant
userShell=/bin/csh
userHome=/home/vagrant
# Wheel group makes user sudo able
userGroups=wheel,operator
commitUser

runExtCommand=/tmp/activate-ssh.sh

# We temporary disable password checks , we promise to make up for it later
runCommand=sed -i -e 's@auth.*include.*system@@' /etc/pam.d/su

# making the clock run correctly 
# http://forums.virtualbox.org/viewtopic.php?f=11&t=12210&start=0
# runCommand=echo 'kern.hz=100' > /boot/loader.conf
